body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  body#index {
    background-image: url('../storage/utils/background_home.jpg');
    background-position: top center;
    background-size: cover;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .index-container {
    height: 100vh;
    background-image: linear-gradient(#00000000, #000);
  }
  
  .register-btn, .form-control button[type="submit"] {
    padding: 16px 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    border-radius: 16px;
    background-color: #ee6635;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
  }
  
  @media screen and (max-width: 600px) {
    .register-btn {
      padding: 12px 24px;
      font-size: 1.5rem;
      border-radius: 8px;
    }
  }
  .register-btn:hover, .form-control button[type="submit"]:hover {
    background-color: #cc4415;
    box-shadow: 0 0 10px 2px #00000033;
  }
  
  .register-btn:focus, .form-control button[type="submit"]:focus {
    background-color: #aa2205;
    box-shadow: none;
    outline: none;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 600px;
    margin: 48px 0;
    border-radius: 8px;
    background-color: #fff;
    padding: 24px 48px;
    box-shadow: 0 0 10px 2px #00000022;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
  }
  
  .form-control label {
    display: block;
    margin-bottom: 4px;
  }
  
  .form-control input, .form-control select {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #cdcdcd;
    background-color: #fafafa;
    border-radius: 4px;
  }
  
  .form-control button[type="submit"] {
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .error-msg{
    color: red;
  }

  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.content {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
}

.content h1, .content p {
  margin: 10px 0;
}

.blur-bg {
  backdrop-filter: blur(10px);
  background: rgba(255, 0, 0, 0.363);
  border-radius: 0.25rem;
}